## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
    drop database if exists country_club cascade;
    create database country_club;
    show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings-4.csv"
file_location_facilities = "/FileStore/tables/Facilities-3.csv"
file_location_members = "/FileStore/tables/Members-3.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

Bookings Schema
root
 |-- bookid: integer (nullable = true)
 |-- facid: integer (nullable = true)
 |-- memid: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- slots: integer (nullable = true)

Facilities Schema
root
 |-- facid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- membercost: double (nullable = true)
 |-- guestcost: double (nullable = true)
 |-- initialoutlay: integer (nullable = true)
 |-- monthlymaintenance: integer (nullable = true)

Members Schema
root
 |-- memid: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- telephone: string (nullable = true)
 |-- recommendedby: integer (nullable = true)
 |-- joindate: timestamp (nullable = true)

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03T11:00:00.000+0000,2
1,4,1,2012-07-03T08:00:00.000+0000,2
2,6,0,2012-07-03T18:00:00.000+0000,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select name from facilities
where membercost > 0

name
Tennis Court 1
Tennis Court 2
Massage Room 1
Massage Room 2
Squash Court

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select count(*) from facilities
where membercost = 0

count(1)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select  facid, name, membercost, monthlymaintenance from facilities
where membercost < monthlymaintenance*0.2
and membercost > 0

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities
where facid IN (1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name, monthlymaintenance,
  case when monthlymaintenance <= 100 then 'cheap'
  else 'expensive' end as labels
  from facilities

name,monthlymaintenance,labels
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Badminton Court,50,cheap
Table Tennis,10,cheap
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Squash Court,80,cheap
Snooker Table,15,cheap
Pool Table,15,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
WITH order_members AS (
select firstname, surname, joindate, RANK() OVER (ORDER BY joindate DESC) as ordered_signups
from members)

SELECT firstname, surname
FROM order_members
WHERE ordered_signups = 1

firstname,surname
Darren,Smith

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
WITH full_data AS(
select * from bookings as a
JOIN facilities as b on a.facid = b.facid
JOIN members as c on a.memid = c.memid
WHERE name LIKE '%Tennis Court%')

SELECT DISTINCT name, CONCAT(firstname,' ',surname)
FROM full_data
ORDER BY 2

name,"concat(firstname, , surname)"
Tennis Court 2,Anne Baker
Tennis Court 1,Anne Baker
Tennis Court 2,Burton Tracy
Tennis Court 1,Burton Tracy
Tennis Court 1,Charles Owen
Tennis Court 2,Charles Owen
Tennis Court 2,Darren Smith
Tennis Court 2,David Farrell
Tennis Court 1,David Farrell
Tennis Court 2,David Jones
Tennis Court 1,David Jones
Tennis Court 1,David Pinker
Tennis Court 1,Douglas Jones
Tennis Court 1,Erica Crumpet
Tennis Court 1,Florence Bader
Tennis Court 2,Florence Bader
Tennis Court 1,GUEST GUEST
Tennis Court 2,GUEST GUEST
Tennis Court 2,Gerald Butters
Tennis Court 1,Gerald Butters
Tennis Court 2,Henrietta Rumney
Tennis Court 1,Jack Smith
Tennis Court 2,Jack Smith
Tennis Court 2,Janice Joplette
Tennis Court 1,Janice Joplette
Tennis Court 2,Jemima Farrell
Tennis Court 1,Jemima Farrell
Tennis Court 1,Joan Coplin
Tennis Court 1,John Hunt
Tennis Court 2,John Hunt
Tennis Court 1,Matthew Genting
Tennis Court 2,Millicent Purview
Tennis Court 2,Nancy Dare
Tennis Court 1,Nancy Dare
Tennis Court 1,Ponder Stibbons
Tennis Court 2,Ponder Stibbons
Tennis Court 1,Ramnaresh Sarwin
Tennis Court 2,Ramnaresh Sarwin
Tennis Court 1,Tim Boothe
Tennis Court 2,Tim Boothe
Tennis Court 2,Tim Rownam
Tennis Court 1,Tim Rownam
Tennis Court 2,Timothy Baker
Tennis Court 1,Timothy Baker
Tennis Court 2,Tracy Smith
Tennis Court 1,Tracy Smith

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
WITH full_data AS(
select * from bookings as a
JOIN facilities as b on a.facid = b.facid
JOIN members as c on a.memid = c.memid),

final_costs AS
(SELECT 
  bookid, 
  name,
  CONCAT(firstname,' ',surname) AS full_name,
  slots,
  membercost, 
  guestcost,
  membercost*slots AS final_m_cost, 
  guestcost*slots AS final_g_cost   
  FROM full_data
WHERE starttime BETWEEN '2012-09-14' AND '2012-09-15')

select
  bookid,
  name,
  full_name,
  final_m_cost,
  final_g_cost
FROM
  final_costs
WHERE
  (final_m_cost > 30 OR final_g_cost > 30)
ORDER BY 4,5

bookid,name,full_name,final_m_cost,final_g_cost
2928,Badminton Court,Anna Mackenzie,0.0,46.5
2931,Badminton Court,Ponder Stibbons,0.0,46.5
2929,Badminton Court,Darren Smith,0.0,46.5
2927,Badminton Court,Darren Smith,0.0,46.5
2930,Badminton Court,Gerald Butters,0.0,46.5
2952,Squash Court,Anne Baker,7.0,35.0
2953,Squash Court,David Pinker,7.0,35.0
2947,Squash Court,Anne Baker,7.0,35.0
2949,Squash Court,GUEST GUEST,7.0,35.0
2950,Squash Court,Timothy Baker,7.0,35.0
2951,Squash Court,GUEST GUEST,7.0,35.0
2948,Squash Court,GUEST GUEST,14.0,70.0
2921,Tennis Court 1,Douglas Jones,15.0,75.0
2925,Tennis Court 2,GUEST GUEST,15.0,75.0
2916,Tennis Court 1,Burton Tracy,15.0,75.0
2917,Tennis Court 1,David Pinker,15.0,75.0
2920,Tennis Court 1,GUEST GUEST,15.0,75.0
2922,Tennis Court 1,GUEST GUEST,15.0,75.0
2919,Tennis Court 1,Tim Rownam,15.0,75.0
2918,Tennis Court 1,Gerald Butters,15.0,75.0
2938,Massage Room 1,Jemima Farrell,19.8,160.0
2940,Massage Room 1,GUEST GUEST,19.8,160.0
2936,Massage Room 1,Jack Smith,19.8,160.0
2942,Massage Room 1,GUEST GUEST,19.8,160.0
2945,Massage Room 2,Florence Bader,19.8,160.0
2939,Massage Room 1,Ponder Stibbons,19.8,160.0
2937,Massage Room 1,GUEST GUEST,19.8,160.0
2943,Massage Room 1,Burton Tracy,19.8,160.0
2944,Massage Room 1,Matthew Genting,19.8,160.0
2924,Tennis Court 2,Tim Boothe,30.0,150.0
2923,Tennis Court 2,David Jones,30.0,150.0
2926,Tennis Court 2,GUEST GUEST,30.0,150.0
2941,Massage Room 1,Jemima Farrell,39.6,320.0
2946,Massage Room 2,GUEST GUEST,39.6,320.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
SELECT
bookid,
name,
full_name,
final_m_cost,
final_g_cost
FROM
(select *,
  CONCAT(firstname,' ',surname) AS full_name,
  membercost*slots AS final_m_cost, 
  guestcost*slots AS final_g_cost   
from bookings as a
JOIN facilities as b on a.facid = b.facid
JOIN members as c on a.memid = c.memid
WHERE starttime BETWEEN '2012-09-14' AND '2012-09-15'
AND (membercost*slots > 30
OR guestcost*slots > 30)) as new_table
ORDER BY 4,5

bookid,name,full_name,final_m_cost,final_g_cost
2928,Badminton Court,Anna Mackenzie,0.0,46.5
2931,Badminton Court,Ponder Stibbons,0.0,46.5
2929,Badminton Court,Darren Smith,0.0,46.5
2927,Badminton Court,Darren Smith,0.0,46.5
2930,Badminton Court,Gerald Butters,0.0,46.5
2952,Squash Court,Anne Baker,7.0,35.0
2953,Squash Court,David Pinker,7.0,35.0
2947,Squash Court,Anne Baker,7.0,35.0
2949,Squash Court,GUEST GUEST,7.0,35.0
2950,Squash Court,Timothy Baker,7.0,35.0
2951,Squash Court,GUEST GUEST,7.0,35.0
2948,Squash Court,GUEST GUEST,14.0,70.0
2921,Tennis Court 1,Douglas Jones,15.0,75.0
2925,Tennis Court 2,GUEST GUEST,15.0,75.0
2916,Tennis Court 1,Burton Tracy,15.0,75.0
2917,Tennis Court 1,David Pinker,15.0,75.0
2920,Tennis Court 1,GUEST GUEST,15.0,75.0
2922,Tennis Court 1,GUEST GUEST,15.0,75.0
2919,Tennis Court 1,Tim Rownam,15.0,75.0
2918,Tennis Court 1,Gerald Butters,15.0,75.0
2938,Massage Room 1,Jemima Farrell,19.8,160.0
2940,Massage Room 1,GUEST GUEST,19.8,160.0
2936,Massage Room 1,Jack Smith,19.8,160.0
2942,Massage Room 1,GUEST GUEST,19.8,160.0
2945,Massage Room 2,Florence Bader,19.8,160.0
2939,Massage Room 1,Ponder Stibbons,19.8,160.0
2937,Massage Room 1,GUEST GUEST,19.8,160.0
2943,Massage Room 1,Burton Tracy,19.8,160.0
2944,Massage Room 1,Matthew Genting,19.8,160.0
2924,Tennis Court 2,Tim Boothe,30.0,150.0
2923,Tennis Court 2,David Jones,30.0,150.0
2926,Tennis Court 2,GUEST GUEST,30.0,150.0
2941,Massage Room 1,Jemima Farrell,39.6,320.0
2946,Massage Room 2,GUEST GUEST,39.6,320.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
WITH full_data AS(
select *,
  membercost*slots AS final_m_cost, 
  guestcost*slots AS final_g_cost,
  (membercost*slots) + (guestcost*slots) AS final_booking_cost 
from bookings as a
JOIN facilities as b on a.facid = b.facid
JOIN members as c on a.memid = c.memid)

-- I AM NOT TAKING INTO CONSIDERATION MONTHLY MAINTENANCE OR INITIAL OUTLAY DUE TO A LACK OF A TIME FRAME
SELECT 
name, 
EXTRACT(YEAR FROM starttime), 
ROUND(SUM(final_m_cost)) AS tot_m_cost,
ROUND(SUM(final_g_cost)) AS tot_g_cost,
ROUND(SUM(final_booking_cost)) AS total_revenue
FROM full_data
GROUP BY 1,2
ORDER BY 5
-- BASED ON THIS DATA ONLY THE TABLE TENNIS, SNOOKER, POOL TABLES AND BADMINTON COURT GENERATE 0 REVENUE FROM MEMBERS. ALL OTHER ARE +REV

name,extract(YEAR FROM starttime),tot_m_cost,tot_g_cost,total_revenue
Table Tennis,2012,0.0,4150.0,4150.0
Snooker Table,2012,0.0,4540.0,4540.0
Pool Table,2012,0.0,4550.0,4550.0
Badminton Court,2012,0.0,18740.0,18740.0
Massage Room 2,2012,2257.0,18240.0,20497.0
Squash Court,2012,3864.0,19320.0,23184.0
Tennis Court 2,2012,6390.0,31950.0,38340.0
Tennis Court 1,2012,6600.0,33000.0,39600.0
Massage Room 1,2012,13900.0,112320.0,126220.0